# Ignore model
pretrained_models/
pretrained_models/*
pretrained_models/**

datasets/
datasets/*
datasets/** 

__pycache__/
__pycache__/*
__pycache__/** 

results/
results/*
results/** 

tmp/
tmp/*
tmp/**

DoG_debug/
DoG_debug/*
DoG_debug/**

CG_debug
CG_debug/*
CG_debug/**

local_pretrained_ckpt.pt

dgm-eval/
dgm-eval/*
dgm-eval/**

experiments/
experiments/*
experiments/**

tables/
tables/*
tables/**

venv/
venv/*
venv/**