# Ignore model
pretrained_models/
pretrained_models/*
pretrained_models/**

datasets/
datasets/*
datasets/** 

__pycache__/
__pycache__/*
__pycache__/** 

results/
results/*
results/** 

tmp/
tmp/*
tmp/**